<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create autoevaluacion</title>
    <link rel="preload" href="css/style.css" as=" style">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-******************************" crossorigin="anonymous">
</head>

<style>
    .custom-nav {
        display: flex;
        align-items: center;
    }
    .create-link {
        margin-right: 9000px; 
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .navbar-brand {
        padding: 5;
    }
    
    .table-container {
        margin-top: 70px; 
        overflow: auto;
        height: calc(100vh - 70px); 
        overflow-y: hidden;
    }
    
    .table-container table {
        margin-bottom: 0;
    }
    .navbar {
        position: relative;
        z-index: 1;
    }

    details {
        position: relative;
        display: inline-block;
        z-index: 2;
    }

    details summary {
        cursor: pointer;
    }

    details ul {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #9b1a1a;
    }

    details ul li {
        width: 100%;
    }

    details ul li a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        width: 200px;
    }
    details summary {
        cursor: pointer;
        white-space: nowrap; 
    }
    details ul li a:hover {
        background-color: #555;
    }

    details[open] ul {
        display: block;
    }
    .fondo{
            background-image: url(img/fondo2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: -50px;
            height: 900px;
        }
    .card-body{
        background-color: #f3eeee;
        margin-top: 10px;
        
    }
    .form-group p{
        color: black;
        font-size: 17px;
    }
   

</style>
<body>
    
    <nav class="navbar navbar-dark  navbar-expand-lg">
        <div class="navbar-brand"> 
            <a>create autoevaluacion</a>
            <details>
                <summary>&#9776;</summary>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="btn btn-info" href="/coordinadorBandejaEntrada">Bandeja de entrada</a></li>
                <li class="nav-item"><a class="btn btn-info" href="/coordinadorListPeriods">Crear periodo académico</a></li>
                <li class="nav-item"><a class="btn btn-info" href="/coordinadorCrudAutoevaluacion">Gestion autoevaluación</a></li>
                <li class="nav-item"><a class="btn btn-info" href="/coordinadorCRUDuser">Gestión docente</a></li>
                <li class="nav-item"><a class="btn btn-info" href="/coordinadorCrudLabor">Gestión labor</a></li>
                <li class="nav-item"><a class="btn btn-info" href="/coordinadorDiligenciarAutoevaluaciones">Realizar autoevaluación</a></li>
                </ul>
            </details>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> 
                <a class="navbar-brand home-link" href="/coordinadorPrincipal"> 
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="fondo">

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <form action="/coordinadorCreateAutoevaluacion" method="post">
                                <div class="form-group">
                                    <p for="user_identification">Seleccione la identificación del docente:</p>
                                    <select id="user_identification" name="user_identification" class="form-control" required>
                                        <% dataIdentifications.forEach(function(identification) { %>
                                            <option value="<%= identification.user_identification %>"><%= identification.user_identification %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p for="labor_code">Seleccione el código de la labor:</p>
                                    <select id="labor_code" name="labor_code" class="form-control" required>
                                        <% for (let i = 0; i < dataCode.length; i++) { %>
                                            <option value="<%= dataCode[i].labor_code %>"><%= dataCode[i].labor_code %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p for="period_name">Seleccione el periodo:</p>
                                    <select id="period_id" name="period_id" class="form-control" required>
                                      <% dataPeriods.forEach(period => { %>
                                        <option value="<%= period.period_id %>"><%= period.period_name %></option>
                                      <% }); %>
                                    </select>
                                  </div>
                                <div class="form-group">
                                    <p for="acto">Es acto:</p>
                                    <select id="acto" name="acto" class="form-control" required>
                                      <option value="si">Si</option>
                                      <option value="no">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p>Ingrese las recomendaciones:</p>
                                    <textarea name="recomendaciones" class="form-control rows="8"> </textarea> 
                                </div>
                                <div class="form-group">
                                    <p for="dateStart">Digite la fecha de inicio:</p>
                                    <input type="text" id="dateStart" name="date_init" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <p for="dateFinish">Digite la fecha fin:</p>
                                    <input type="text" id="dateFinish" name="date_finish" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    Create 
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>' ,
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmationButton: <%= showConfirmButton %>,
                timer:<%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#dateStart", {
            dateFormat: "Y-m-d"
        });

        flatpickr("#dateFinish", {
            dateFormat: "Y-m-d"
        });
    </script>
    <script>
        var dateStartInput = document.getElementById("dateStart");
        var dateFinishInput = document.getElementById("dateFinish");
    
        document.querySelector("form").addEventListener("submit", function(event) {
            var dateStartValue = dateStartInput.value;
            var dateFinishValue = dateFinishInput.value;
    
            if (dateStartValue === "" || dateFinishValue === "") {
                event.preventDefault();
                alert("Por favor, seleccione ambas fechas.");
            }
        });
    </script>
</body>
</html>