<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud users</title>
    <link rel="preload" href="css/style.css" as=" style">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-******************************" crossorigin="anonymous">
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
        }
        
        .navbar-brand {
            flex-grow: 1;
        }
        
        .table-container {
            margin-left: -200px;
            margin-right: auto;
            max-width: 500px;
        }
        
        .table-container table {
            margin-bottom: 0;
        }

        .btn-create {
            margin-right: 30px;
        }

        .custom-nav {
            display: flex;
            align-items: center;
        }
        .create-link {
            margin-right: 9000px; 
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;
        }

        .navbar-brand {
            padding: 5;
        }
        
        .navbar {
            position: relative;
            z-index: 1;
        }

        details {
            position: relative;
            display: inline-block;
            z-index: 2;
        }

        details summary {
            cursor: pointer;
        }

        details ul {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #9b1a1a;
        }

        details ul li {
            width: 100%;
        }

        details ul li a {
            display: block;
            padding: 10px;
            color: #fff;
            text-decoration: none;
            width: 200px;
        }
        details summary {
            cursor: pointer;
            white-space: nowrap; 
        }
        details ul li a:hover {
            background-color: #555;
        }

        details[open] ul {
            display: block;
        }
        .fondo{
            background-image: url(img/fondo2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
          
            height: 740px;
        }
        .table{
            margin-top: 50px;
        }
        
    </style>
</head>
<body>

    <nav class="navbar navbar-dark  navbar-expand-lg">
        <div class="navbar-brand"> 
            <a>crud user</a>
            <details>
                <summary>&#9776;</summary>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="btn btn-info" href="/coordinadorBandejaEntrada">Bandeja de entrada</a></li>
                    <li class="nav-item"><a class="btn btn-info" href="/coordinadorListPeriods">Crear periodo académico</a></li>
                    <li class="nav-item"><a class="btn btn-info" href="/coordinadorCrudAutoevaluacion">Gestion autoevaluación</a></li>
                    <li class="nav-item"><a class="btn btn-info" href="/coordinadorCrudLabor">Gestión labores</a></li>
                    <li class="nav-item"><a class="btn btn-info" href="/coordinadorDiligenciarAutoevaluaciones">Realizar autoevaluación</a></li>
                </ul>
            </details>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> 
                <a class="navbar-brand home-link" href="/coordinadorPrincipal"> 
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="btn btn-info btn-create" href="/coordinadorCreateUserView">Create</a>
            </li>
        </ul>
    </nav>


    <div class="fondo">

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12 table-container">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>identificacion</th>
                            <th>nombre</th>
                            <th>apellido</th>
                            <th>genero</th>
                            <th>email</th>
                            <th>estudios</th>
                            <th>tipo docente</th>
                            <th>fecha inicio</th>
                            <th>fecha fin</th>
                            <th>activo</th>
                            <th>acciones</th>
                        </thead>
                        <tbody>
                            <% if(data) { %>
                                <% for (var i = 0; i < data.length ; i++){ %>
                                    <% if(data[i].activo !== 1) { continue; } %> 
                                    <% var startDate = new Date(data[i].date_start); %>
                                    <% var endDate = new Date(data[i].date_finish); %>
                            
                                    <tr>
                                        <td><%= data[i].user_identification %></td>
                                        <td><%= data[i].user_name %></td>
                                        <td><%= data[i].user_lastname %></td>
                                        <td><%= data[i].user_gender %></td>
                                        <td><%= data[i].user_email %></td>
                                        <td><%= data[i].user_studies %></td>
                                        <td><%= data[i].user_tipoDocente %></td>
                                        <td><%= startDate.toISOString().substring(0, 10) %></td>
                                        <td><%= endDate.toISOString().substring(0, 10) %></td>
                                        <td>
                                            <% if (data[i].activo === 1) { %>
                                                &#9989;
                                            <% } %>
                                        </td>
                                        <td>
                                            <a class="btn btn-info" href="/coordinadorUpdateUserView/<%= data[i].user_identification %>">Update</a>
                                        </td>
                                    </tr>
                            
                                <% }%>   
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>