<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud users</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
        }
        
        .navbar-brand {
            flex-grow: 1;
        }
        
        .table-container {
            margin-left: -200px;
            margin-right: auto;
            max-width: 500px;
        }
        
        .table-container table {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">crud users</a>
        <a class="btn btn-info" href="/coordinadorCreateUserView">Create</a>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 table-container">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>identificacion</th>
                        <th>nombre</th>
                        <th>apellido</th>
                        <th>genero</th>
                        <th>email</th>
                        <th>estudios</th>
                        <th>tipo docente</th>
                        <th>rol</th>
                        <th>fecha inicio</th>
                        <th>fecha fin</th>
                        <th>activo</th>
                        <th>acciones</th>
                    </thead>
                    <tbody>
                        <% if(data) { %>
                            <% for (var i = 0; i < data.length ; i++){ %>
                                <% if(data[i].activo !== 1) { continue; } %> 
                                <% var startDate = new Date(data[i].date_start); %>
                                <% var endDate = new Date(data[i].date_finish); %>
                        
                                <tr>
                                    <td><%= data[i].user_identification %></td>
                                    <td><%= data[i].user_name %></td>
                                    <td><%= data[i].user_lastname %></td>
                                    <td><%= data[i].user_gender %></td>
                                    <td><%= data[i].user_email %></td>
                                    <td><%= data[i].user_studies %></td>
                                    <td><%= data[i].user_tipoDocente %></td>
                                    <td><%= data[i].role_type %></td>
                                    <td><%= startDate.toISOString().substring(0, 10) %></td>
                                    <td><%= endDate.toISOString().substring(0, 10) %></td>
                                    <td>
                                        <% if (data[i].activo === 1) { %>
                                            &#9989;
                                        <% } %>
                                      </td>
                                    <td>
                                        <a class="btn btn-info" href="/coordinadorUpdateUserView/<%= data[i].user_identification %>">Update</a>
                                    </td>
                                </tr>
                        
                            <% }%>   
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>