<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud labor</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
        }
        
        .navbar-brand {
            flex-grow: 1;
        }
        
        .table-container {
            margin-left: -200px;
            margin-right: auto;
            max-width: 500px;
        }
        
        .table-container table {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">crud labor</a>
        <a class="btn btn-info" href="/coordinadorCreateLaborView">Create</a>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 table-container">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>codigo</th>
                        <th>nombre</th>
                        <th>tipo labor</th>
                        <th>tipo labor codigo</th>
                        <th>horas</th>
                        <th>activo</th>
                        <th>acciones</th>
                    </thead>
                    <tbody>
                        <% if(data) { %>
                            <% for (var i = 0; i < data.length ; i++){ %>
                                <% if(data[i].activo !== 1) { continue; } %> 
                        
                                <tr>
                                    <td><%= data[i].labor_code %></td>
                                    <td><%= data[i].labor_name %></td>
                                    <td><%= data[i].type_labor_name %></td>
                                    <td><%= data[i].type_labor_code %></td>
                                    <td><%= data[i].labor_hours %></td>
                                    <td><%= data[i].activo %></td>
                                    <td>
                                        <a class="btn btn-info" href="/coordinadorUpdateLaborView/<%= data[i].labor_code %>">Update</a>
                                    </td>
                                </tr>
                        
                            <% }%>   
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>