<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Create autoevaluacion</a>
        <a href="/coordinadorPrincipal"  class="navbar-brand">home</a>
        <details>
            <summary>&#9776;</summary>
            <ul>
                <li><a class="btn btn-info" href="/coordinadorCrudAutoevaluacion">Crear autoevaluación</a></li>
                <li><a class="btn btn-info" href="/coordinadorListPeriods">Crear periodo académico</a></li>
                <li><a class="btn btn-info" href="/coordinadorCRUDuser">Gestión docente</a></li>
                <li><a class="btn btn-info" href="/coordinadorCrudLabor">Gestión labor</a></li>
                <li><a class="btn btn-info" href="/coordinadorDiligenciarAutoevaluaciones">Realizar autoevaluación</a></li>
            </ul>
        </details>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form action="/coordinadorCreateAutoevaluacion" method="post">
                            <div class="form-group">
                                <label for="user_identification">Seleccione la identificación del docente:</label>
                                <select id="user_identification" name="user_identification" class="form-control" required>
                                    <% dataIdentifications.forEach(function(identification) { %>
                                        <option value="<%= identification.user_identification %>"><%= identification.user_identification %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="labor_code">Seleccione el código de la labor:</label>
                                <select id="labor_code" name="labor_code" class="form-control" required>
                                    <% for (let i = 0; i < dataCode.length; i++) { %>
                                        <option value="<%= dataCode[i].labor_code %>"><%= dataCode[i].labor_code %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="period_name">Seleccione el periodo:</label>
                                <select id="period_id" name="period_id" class="form-control" required>
                                  <% dataPeriods.forEach(period => { %>
                                    <option value="<%= period.period_id %>"><%= period.period_name %></option>
                                  <% }); %>
                                </select>
                              </div>
                            <div class="form-group">
                                <label for="acto">Es acto:</label>
                                <select id="acto" name="acto" class="form-control" required>
                                  <option value="si">Si</option>
                                  <option value="no">No</option>
                                </select>
                              </div>
                            <div class="form-group">
                                <label for="dateStart">Digite la fecha de inicio:</label>
                                <input type="text" id="dateStart" name="date_init" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="dateFinish">Digite la fecha fin:</label>
                                <input type="text" id="dateFinish" name="date_finish" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Create period
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>' ,
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmationButton: <%= showConfirmButton %>,
                timer:<%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#dateStart", {
            dateFormat: "Y-m-d"
        });

        flatpickr("#dateFinish", {
            dateFormat: "Y-m-d"
        });
    </script>

</body>
</html>