<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Autoevaluación</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Actualizar Autoevaluación</a>
        <a href="/coordinadorPrincipal"  class="navbar-brand">home</a>
        <details>
            <summary>&#9776;</summary>
            <ul>
                <li><a class="btn btn-info" href="/coordinadorCrudAutoevaluacion">Crear autoevaluación</a></li>
                <li><a class="btn btn-info" href="/coordinadorListPeriods">Crear periodo académico</a></li>
                <li><a class="btn btn-info" href="/coordinadorCRUDuser">Gestión docente</a></li>
                <li><a class="btn btn-info" href="/coordinadorCrudLabor">Gestión labor</a></li>
                <li><a class="btn btn-info" href="/coordinadorDiligenciarAutoevaluaciones">Realizar autoevaluación</a></li>
            </ul>
        </details>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/coordinadorUpdateAutoevaluacion/<%= data.autoevaluation_id %>" method="post">
                            <div class="form-group">
                                <label for="user_identification">Identificación de Usuario</label>
                                <input type="text" id="user_identification" name="user_identification" value="<%= data.user_identification %>" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label for="labor_code">Código de Labor</label>
                                <input type="text" id="labor_code" name="labor_code" value="<%= data.labor_code %>" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label for="period_id">ID del Período</label>
                                <input type="text" id="period_id" name="period_id" value="<%= data.period_id %>" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label for="acto">Acto</label>
                                <select id="acto" name="acto" class="form-control">
                                    <option value="si" <%= data.acto === 'si' ? 'selected' : '' %>>Si</option>
                                    <option value="no" <%= data.acto === 'no' ? 'selected' : '' %>>No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="state">Estado</label>
                                <select id="state" name="state" class="form-control">
                                    <option value="terminado" <%= data.state === 'terminado' ? 'selected' : '' %>>Terminado</option>
                                    <option value="ejecucion" <%= data.state === 'ejecucion' ? 'selected' : '' %>>En ejecución</option>
                                    <option value="suspendido" <%= data.state === 'suspendido' ? 'selected' : '' %>>Suspendido</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="date_init">Fecha de Inicio</label>
                                <input type="text" id="date_init" name="date_init" value="<%= data.date_init %>" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label for="date_finish">Fecha de Finalización</label>
                                <input type="text" id="date_finish" name="date_finish" value="<%= data.date_finish %>" class="form-control" >
                            </div>
                            <div class="form-group">
                                <label for="activo">Activo</label>
                                <select id="activo" name="activo" class="form-control">
                                    <option value="1" <%= data.activo === 1 ? 'selected' : '' %>>Activo</option>
                                    <option value="-1" <%= data.activo === -1 ? 'selected' : '' %>>Inactivo</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Actualizar Autoevaluación
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>' ,
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmationButton: <%= showConfirmButton %>,
                timer:<%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#date_init", {
            dateFormat: "Y-m-d"
        });

        flatpickr("#date_finish", {
            dateFormat: "Y-m-d"
        });
    </script>
</body>
</html>