<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud autoevaluacion</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
        }
        
        .navbar-brand {
            flex-grow: 1;
        }
        
        .table-container {
            margin-left: -200px;
            margin-right: auto;
            max-width: 500px;
        }
        
        .table-container table {
            margin-bottom: 0;
        }

        .btn-create {
            margin-right: 30px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">crud autoevaluacion</a>
        <a href="/coordinadorPrincipal"  class="navbar-brand">home</a>
        <a class="btn btn-info btn-create" href="/coordinadorCreateAutoevaluacionView">Create</a>
        <details>
            <summary>&#9776;</summary>
            <ul>
                <li><a class="btn btn-info" href="/coordinadorListPeriods">Crear periodo académico</a></li>
                <li><a class="btn btn-info" href="/coordinadorCRUDuser">Gestión docente</a></li>
                <li><a class="btn btn-info" href="/coordinadorCrudLabor">Gestión labor</a></li>
                <li><a class="btn btn-info" href="/coordinadorDiligenciarAutoevaluaciones">Realizar autoevaluación</a></li>
            </ul>
        </details>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 table-container">
                <% if(data) { %>
                    <% var realizadas = []; %>
                    <% var pendientes = []; %>
                    
                    <% for (var i = 0; i < data.length ; i++){ %>
                        <% if(data[i].activo !== 1) { continue; } %> 
                        
                        <% if (data[i].resultados !== null && data[i].evaluacion !== null && data[i].resultados !== '' && data[i].evaluacion !== '') { %>
                            <% realizadas.push(data[i]); %>
                        <% } else { %>
                            <% pendientes.push(data[i]); %>
                        <% } %>
                    <% } %>
                    
                    <% if (realizadas.length > 0) { %>
                        <h3>Realizadas</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>N</th>
                                <th>nombre labor</th>
                                <th>tipo labor</th>
                                <th>horas</th>
                                <th>descripcion</th>
                                <th>acto</th>
                                <th>fecha inicio</th>
                                <th>fecha fin</th>
                                <th>estado</th>
                                <th>resultados</th>
                                <th>evaluacion</th>
                                <th>docente</th>
                                <th>periodo</th>
                            </thead>
                            <tbody>
                                <% for (var i = 0; i < realizadas.length ; i++){ %>
                                    <tr>
                                        <td><%= realizadas[i].autoevaluation_id %></td>
                                        <td><%= realizadas[i].labor_name %></td>
                                        <td><%= realizadas[i].type_labor_name %></td>
                                        <td><%= realizadas[i].labor_hours %></td>
                                        <td><%= realizadas[i].labor_descripcion %></td>
                                        <td><%= realizadas[i].acto %></td>
                                        <% if (realizadas[i].date_init && typeof realizadas[i].date_init === 'object' && realizadas[i].date_init instanceof Date) { %>
                                            <td><%= realizadas[i].date_init.toISOString().substring(0, 10) %></td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                        
                                        <% if (realizadas[i].date_finish && typeof realizadas[i].date_finish === 'object' && realizadas[i].date_finish instanceof Date) { %>
                                            <td><%= realizadas[i].date_finish.toISOString().substring(0, 10) %></td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                        
                                        <td><%= realizadas[i].state %></td>
                                        <td><%= realizadas[i].resultados %></td>
                                        <td><%= realizadas[i].evaluacion %></td>
                                        <td><%= realizadas[i].user_name + ' ' + realizadas[i].user_lastname%></td>
                                        <td><%= realizadas[i].period_name %></td>
                                        <td>
                                            <a class="btn btn-info" href="/coordinadorUpdateAutoevaluacionView/<%= realizadas[i].autoevaluation_id %>">Update</a>
                                            <form method="post" action="/enviarNotificacion/<%= realizadas[i].user_identification %>/<%= realizadas[i].autoevaluation_id %>">
                                                <button type="submit" class="btn btn-info">Notificar</button>
                                            </form>                                        
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    <% } %>
                    
                    <% if (pendientes.length > 0) { %>
                        <h3>Pendientes</h3>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <th>N</th>
                                <th>nombre labor</th>
                                <th>tipo labor</th>
                                <th>horas</th>
                                <th>descripcion</th>
                                <th>acto</th>
                                <th>fecha inicio</th>
                                <th>fecha fin</th>
                                <th>estado</th>
                                <th>resultados</th>
                                <th>evaluacion</th>
                                <th>docente</th>
                                <th>periodo</th>
                            </thead>
                            <tbody>
                                <% for (var i = 0; i < pendientes.length ; i++){ %>
                                    <tr>
                                        <td><%= pendientes[i].autoevaluation_id %></td>
                                        <td><%= pendientes[i].labor_name %></td>
                                        <td><%= pendientes[i].type_labor_name %></td>
                                        <td><%= pendientes[i].labor_hours %></td>
                                        <td><%= pendientes[i].labor_descripcion %></td>
                                        <td><%= pendientes[i].acto %></td>
                                        <% if (pendientes[i].date_init && typeof pendientes[i].date_init === 'object' && pendientes[i].date_init instanceof Date) { %>
                                            <td><%= pendientes[i].date_init.toISOString().substring(0, 10) %></td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                        
                                        <% if (pendientes[i].date_finish && typeof pendientes[i].date_finish === 'object' && pendientes[i].date_finish instanceof Date) { %>
                                            <td><%= pendientes[i].date_finish.toISOString().substring(0, 10) %></td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                        
                                        <td><%= pendientes[i].state %></td>
                                        <td><%= pendientes[i].resultados %></td>
                                        <td><%= pendientes[i].evaluacion %></td>
                                        <td><%= pendientes[i].user_name + ' ' + pendientes[i].user_lastname%></td>
                                        <td><%= pendientes[i].period_name %></td>
                                        <td>
                                            <a class="btn btn-info" href="/coordinadorUpdateAutoevaluacionView/<%= pendientes[i].autoevaluation_id %>">Update</a>
                                            <form method="post" action="/enviarNotificacion/<%= pendientes[i].user_identification %>/<%= pendientes[i].autoevaluation_id %>">
                                                <button type="submit" class="btn btn-info">Notificar</button>
                                            </form>                                        
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>' ,
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmationButton: <%= showConfirmButton %>,
                timer:<%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>
</body>
</html>