<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create user</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Create user</a>
        <a href="/coordinadorPrincipal"  class="navbar-brand">home</a>
        <details>
            <summary>&#9776;</summary>
            <ul>
                <li><a class="btn btn-info" href="/coordinadorBandejaEntrada">Bandeja de entrada</a></li>
                <li><a class="btn btn-info" href="/coordinadorListPeriods">Crear periodo académico</a></li>
                <li><a class="btn btn-info" href="/coordinadorCrudAutoevaluacion">Gestion autoevaluación</a></li>
                <li><a class="btn btn-info" href="/coordinadorCRUDuser">Gestión docente</a></li>
                <li><a class="btn btn-info" href="/coordinadorCrudLabor">Gestión labor</a></li>
                <li><a class="btn btn-info" href="/coordinadorDiligenciarAutoevaluaciones">Realizar autoevaluación</a></li>
            </ul>
        </details>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form action="/coordinadorCreateUser" method="post">
                            <div class="form-group">
                                <label>Digite la identificacion:</label>
                                <input type="text" name="user_identification" class="form-control" required>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Digite el nombre:</label>
                                        <input type="text" name="user_name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Digite el apellido:</label>
                                        <input type="text" name="user_lastname" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Digite el correo:</label>
                                        <input type="text" name="user_email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Digite la contraseña:</label>
                                        <input type="password" name="user_password" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Digite los estudios:</label>
                                        <input type="text" name="user_studies" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Seleccione el tipo de docente:</label>
                                        <select name="user_tipoDocente" class="form-control">
                                            <option value="catedra">catedra</option>
                                            <option value="tiempo completo">tiempo completo</option>
                                            <option value="planta">planta</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Seleccione el género:</label>
                                <select name="user_gender" class="form-control" required>
                                    <option value="masculino">Masculino</option>
                                    <option value="femenino">Femenino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Seleccione el rol:</label>
                            <select name="role_id" class="form-control" required>
                                <option value="1">Docente</option>
                                <option value="2">Decano</option>
                                <option value="3">Coordinador</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Digite la fecha de inicio:</label>
                            <input type="text" id="date_start" name="date_start" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Digite la fecha fin:</label>
                            <input type="text" id="date_finish" name="date_finish" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Create
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>' ,
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmationButton: <%= showConfirmButton %>,
                timer:<%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#date_start", {
            dateFormat: "Y-m-d"
        });

        flatpickr("#date_finish", {
            dateFormat: "Y-m-d"
        });
    </script>

</body>
</html>