<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create labor</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Create labor</a>
        <a href="/coordinadorPrincipal"  class="navbar-brand">home</a>
        <details>
            <summary>&#9776;</summary>
            <ul>
                <li><a class="btn btn-info" href="/coordinadorBandejaEntrada">Bandeja de entrada</a></li>
                <li><a class="btn btn-info" href="/coordinadorListPeriods">Crear periodo académico</a></li>
                <li><a class="btn btn-info" href="/coordinadorCrudAutoevaluacion">Gestion autoevaluación</a></li>
                <li><a class="btn btn-info" href="/coordinadorCRUDuser">Gestión docente</a></li>
                <li><a class="btn btn-info" href="/coordinadorCrudLabor">Gestión labor</a></li>
                <li><a class="btn btn-info" href="/coordinadorDiligenciarAutoevaluaciones">Realizar autoevaluación</a></li>
            </ul>
        </details>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form action="/createLabor" method="post">
                            <div class="form-group">
                                <label>Digite el codigo:</label>
                                <input type="text" name="labor_code" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Digite el nombre:</label>
                                <input type="text" name="labor_name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Digite el tipo labor:</label>
                                <select name="type_labor_code" class="form-control" required>
                                    <option value="">Seleccionar opción</option>
                                    <option value="AD">Administracion</option>
                                    <option value="AS">Asesoria</option>
                                    <option value="C">Capacitacion</option>
                                    <option value="D">Docencia</option>
                                    <option value="E">Extension</option>
                                    <option value="OS">Otros Servicios</option>
                                    <option value="PI">Proyectos Investigacion</option>
                                    <option value="S">Servicios</option>
                                    <option value="TD">Trabajos Docencia</option>
                                    <option value="TI">Trabajos Investigacion</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Ingrese la descripcion:</label>
                                <input type="text" name="labor_descripcion" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Digite las horas:</label>
                                <input type="text" name="labor_hours" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Create 
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>' ,
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmationButton: <%= showConfirmButton %>,
                timer:<%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>

</body>
</html>