<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion docente</title>
    <link rel="preload" href="css/style.css" as=" style">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-******************************" crossorigin="anonymous">
    <style>
        .navbar-brand {
            flex-grow: 1;
        }

        .btn-create {
            margin-right: 30px;
        }
    
        .navbar-brand {
            flex-grow: 1;
        }
    
        .custom-nav {
            display: flex;
            align-items: center;
        }
        .create-link {
            margin-right: 9000px; 
        }
    
        .navbar {
            display: flex;
            justify-content: space-between;
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;
        }
    
        .navbar-brand {
            padding: 5;
        }
        
        .navbar {
            position: relative;
            z-index: 1;
        }
    
        details {
            position: relative;
            display: inline-block;
            z-index: 2;
        }
    
        details summary {
            cursor: pointer;
        }
    
        details ul {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #9b1a1a;
        }
    
        details ul li {
            width: 100%;
        }
    
        details ul li a {
            display: block;
            padding: 10px;
            color: #fff;
            text-decoration: none;
            width: 300px;
        }
        details summary {
            cursor: pointer;
            white-space: nowrap; 
        }
        details ul li a:hover {
            background-color: #555;
        }
    
        details[open] ul {
            display: block;
        }
        .fondo{
            background-image: url(img/fondo2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: -50px;
            height: 740px;
        }
        .card-title{
            color: black;
            font-size: 25px;
        }
        .pe{
            color: black;
            font-size: 20px;
        }
        .card{
            width: 500px;
        }
        .card-body{
            margin-top: 30px;
        }
       

    </style>
</head>
<body>

    <nav class="navbar navbar-dark  navbar-expand-lg">
        <div class="navbar-brand"> 
            <a>informacion personal</a>
            <details>
                <summary>&#9776;</summary>
                <ul class="navbar-nav">
                <li class="nav-item"><a class="btn btn-info" href="/docenteBandejaEntrada">Bandeja de entrada</a></li>
                <li><a class="btn btn-info" href="/docenteAutoevaluaciones">Consultar autoevaluaciones</a></li>
                <li class="nav-item"><a class="btn btn-info" href="/docenteDiligenciar">Realizar autoevaluación</a></li>
                </ul>
            </details>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> 
                <a class="navbar-brand home-link" href="/docentePrincipal"> 
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ul>
    </nav>


    <div class="fondo">

        <div class="container mt-5">
            <div class="row">
                <% for(let i = 0; i < data.length; i++) { %>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Información del usuario</h5>
                            <p class="pe" ><strong>Identificación:</strong> <%= data[i].user_identification %></p>
                            <p class="pe"><strong>Nombre:</strong> <%= data[i].user_name %></p>
                            <p class="pe"><strong>Apellido:</strong> <%= data[i].user_lastname %></p>
                            <p class="pe"><strong>Género:</strong> <%= data[i].user_gender %></p>
                            <p class="pe"><strong>Email:</strong> <%= data[i].user_email %></p>
                            <p class="pe"><strong>Tipo docente:</strong> <%= data[i].user_tipoDocente %></p>
                            <p class="pe"><strong>Estudios:</strong> <%= data[i].user_studies %></p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

</body>
</html>